:root {

  /* Paleta de colores */

  --Beige: #fff5d7;
  --Coral: #ff5e6c;  
  --Purpura: #4e4050;
  --Rosa: #ffaaab;
  
  /* Tipografia */

  font-size: 16px;
  font-weight: 400;
}

* {

  /* Estilos para aplicar a toda la pagina - reset */

  box-sizing: border-box;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  user-select: none;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to left, var(--Beige), var(--Rosa));
  padding: 16px 8px 24px;
}

h1,
h2 {
  font-family: "Italiana";
  font-weight: 700;
  color: var(--Purpura);
}

h1 {
   font-size: 3rem;
   max-width: 16rem;
}

h2 {
  font-size: 2rem;
}

ul,
li {
  list-style-type: none;
}

ul,
li,
p,
div,
span {
  font-family: "Roboto";
  color: var(--Purpura);
}

a {
  font-family: "Roboto";
  color: var(--Coral);
}

header,
footer {

  /* Estos elementos estan arreglados en forma de linea con flex, justificados con espacio entre medio */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

button {

  /* Este elemento es el boton que lleva a la pagina del resumen */

  padding: 8px 16px;
  font-family: "Roboto";
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--Purpura);
  background-color: var(--Rosa);
  border: 1px solid var(--Purpura);
  box-shadow: 0px 2px 8px var(--Purpura);
  border-radius: 4px;
}

button:hover {

  /* El boton cambia color al hacer hover */

  cursor: pointer;
  background-color: var(--Coral);
}

img {

  /* Iconos de lenguajes y frameworks */
  
  width: 32px;
}

.aside {

  /* Este elemento va a estar posicionado de forma absoluta */

  position: absolute;
  top: 25%;
  right: 8px;
}

.lista-datos,
.lista-intereses,
.lista-intereses > li,
.lista-intereses > li > ul > li,
.experiencias {
  margin-left: 8px;
}

.barra-iconos,
.barra-iconos > li {

  /* Estos elementos van a estar arreglados en forma de columna con flex */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra-iconos {
  gap: 8px;
}

.barra-iconos > li > p,
footer * {
  font-size: 0.75rem;
}

article,
footer {
  margin-top: 1rem;
}

footer img {
  width: 16px;
  margin-bottom: -2px;
}